body {
  height: 120vh;
  background-image: url('/assets/got1.jpg');
  background-size: cover; 
  font-family: 'Montserrat', sans-serif;
}

mat-toolbar-row{
  
  
  box-shadow: 20px 19px 20px 20px rgba(245, 245, 245, 0.6);
}
//mat-toolbar-row > a{
 // text-decoration: none;
 // color: rgb(255, 255, 255);

mat-toolbar {
  height: 100px;
  background: transparent; 
  color: #ffffff; 

  span {
    
    
    letter-spacing: 1px;
  }

  .nav {
    flex: 1;
  }

  button {
    color: #ffffff;
    
    text-transform: uppercase;
    margin: 0 100px;
    

  }
 
  button.router-link-active {
    background-color: #ffffff; 
  }
}
 .headerbutton {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 10px;
    padding-left: 20px;
    transition: background-color 0.3s ease-in-out;
    
   
  }
